@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --blue: #517ba5;
    --dark-blue: #011627;
    --yellow: #F7B32B;
    --white: #F2F2F2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: var(--white);
}

header {
    background-color: var(--dark-blue);
    box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.349);
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
}

.logo h1{
    color: var(--yellow);
    font-size: 52px;
    cursor: pointer;
    margin: 0 4rem;
}


.nav-list {
    display: flex;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    padding: .6rem 1rem;
    transition: .2s;
}

.active-page {
    border-bottom: 1px solid var(--yellow);
}

.nav-list a:hover{
    border-bottom: 1px solid var(--yellow);
    color: var(--yellow);
}

.nav-bar i {
    display: none;
}

.nav-dropdown {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dark-blue);
}

.nav-dropdown_list li {
    list-style-type: none;
    padding: 1rem;
    
}

.nav-dropdown_list a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    padding: .2rem 1rem;
    transition: .2s;
}

.nav-dropdown_list a:hover{
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

/* main */

/* services slide */

.container {
    width: 100%;
    height: 50vh;
}

.slider-wrapper {
    position: relative;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
}

.slider img {
    width: 100%;
    height: 50vh;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}



.service-box {
    display: flex;
    align-items: center;
    border-top: 4px solid var(--yellow);
    height: 200px;
    width: 100%;
    background-color: var(--white);
    justify-content: space-around;
}

.service-box h1 {
    text-transform: uppercase;
    color: var(--dark-blue);
}

.logo img{
    width: 200px;
    padding: 1rem;

}

/* responsive header */

@media (max-width: 952px) {
    .nav-bar {
        justify-content: center;
    }

    .nav-bar i {
        display: block;
        cursor: pointer;
        color: var(--blue);
        font-size: 32px;
    }

    .nav-list {
        display: none;
    }
}


