@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --blue: #517ba5;
    --dark-blue: #011627;
    --yellow: #F7B32B;
    --white: #F2F2F2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: var(--white);
    height: 100rem;
}

header {
    background-color: var(--dark-blue);
    box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.349);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
}

.logo h1{
    color: var(--yellow);
    font-size: 52px;
    cursor: pointer;
    margin: 0 4rem;
}


.nav-list {
    display: flex;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    padding: .6rem 1rem;
    transition: .2s;
}

.active-page {
    border-bottom: 1px solid var(--yellow);
}

.nav-list a:hover{
    border-bottom: 1px solid var(--yellow);
    color: var(--yellow);
}

.nav-bar i {
    display: none;
}

.nav-dropdown {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dark-blue);
}

.nav-dropdown_list li {
    list-style-type: none;
    padding: 1rem;
    
}

.nav-dropdown_list a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    padding: .2rem 1rem;
    transition: .2s;
}

.nav-dropdown_list a:hover{
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

/* main */

/* services slide */

.container {
    display: flex;
    width: 100%;
    height: 60vh;
    background-image: url('../images/Monitoring.jpg');
    background-position: 10%;
    align-items: center;
}

.background-filter {
    position: absolute;
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(var(--blue), var(--dark-blue));
    opacity: .8;
}

.text-container {
    display: flex;
    padding-top: 2rem;
    z-index: 1;
}

.container-logo {
    z-index: 1;
    opacity: .9;
    padding: 0 6rem 0 6rem;
}

.container-logo img {
    width: 140px;
}

.text-container h3 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 52px;
    color: var(--white);
    line-height: 3.4rem;
}

.text-container p {
    color: var(--white);
    font-size: 22px;
    width: 70%;
}



.service-box {
    display: flex;
    align-items: center;
    border-top: 4px solid var(--yellow);
    height: 200px;
    width: 100%;
    background-color: var(--white);
    justify-content: space-around;
}

.service-box h1 {
    text-transform: uppercase;
    color: var(--dark-blue);
}

.logo img{
    width: 200px;
    padding: 1rem;

}

/* responsive header */

@media (max-width: 952px) {
    .nav-bar {
        justify-content: center;
    }

    .nav-bar i {
        display: block;
        cursor: pointer;
        color: var(--blue);
        font-size: 32px;
    }

    .nav-list {
        display: none;
    }
}


