:root {
    --blue: #517ba5;
    --dark-blue: #011627;
    --yellow: #F7B32B;
    --white: #F2F2F2;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.title {
    padding: 10rem 0 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
    width: 100%;
    border-bottom: 1px solid var(--yellow);
}

.title h1 {
    color: var(--yellow);
    text-transform: uppercase;
    font-style: italic;
}

.title p {
    color: var(--white);
}

.events-box {
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: var(--dark-blue);
    border-bottom: 1px solid var(--yellow);
}

.events-data {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    justify-content: center;
}

.events-data_title {
    font-size: 36px;
    text-transform: uppercase;
    font-style: italic;
}

.events-data_num {
    border-left: .4rem solid var(--yellow);
}

.events-data_num h3{
    padding: 1rem;
    font-style: italic;
}

.data-num {
    font-size: 42px;
    color: var(--yellow);
    background-color: var(--dark-blue);
    padding: 0 .6rem;
}

.events-text {
    display: flex;
    flex-direction: row;
    color: var(--dark-blue);
    width: 100%;
    padding-left: 4rem;
}

.events-text h1 {
    color: var(--dark-blue);
    text-transform: uppercase;
    padding: 4rem 0;
    font-style: italic;
}

.events-text p {
    width: 80%;
}

.events-paragraph p {
    padding-bottom: 2rem;
}

.events-paragraph h1 {
    padding-bottom: 1rem;
}

#chartdiv {
    width: 100%;
    height: 500px;
  }

.events-container {
    border-left: .4rem solid var(--yellow);
    color: var(--white);
    width: 18rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    /* box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.349); */
}

.events-container h3 {
    font-size: 16px;
    color: var(--yellow);
    padding-bottom: .4rem;
}

.events-container p {
    font-size: 12px;
    padding: .2rem;
}

.events-container span {
    font-weight: 600;
    color: var(--yellow);
}

/* responsive */

@media (max-width: 1000px) {
    .events-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .events-data, .events-paragraph {
        padding-left: 4rem;
    }

    .events-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .events-box {
        width: 100%;
        padding-left: 4rem;
    }
}


