@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --blue: #517ba5;
    --dark-blue: #011627;
    --yellow: #F7B32B;
    --white: #F2F2F2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: var(--white);
}

header {
    background-color: var(--dark-blue);
    box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.349);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
}

.logo h1{
    color: var(--yellow);
    font-size: 52px;
    cursor: pointer;
    margin: 0 4rem;
}


.nav-list {
    display: flex;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    padding: .6rem 1rem;
    transition: .2s;
}

.active-page {
    border-bottom: 1px solid var(--yellow);
}

.nav-list a:hover{
    /* border-bottom: 1px solid var(--yellow); */
    color: var(--yellow);
}

.nav-bar i {
    display: none;
}

.nav-dropdown {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dark-blue);
}

.nav-dropdown_list li {
    list-style-type: none;
    padding: 1rem;
    
}

.nav-dropdown_list a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    padding: .2rem 1rem;
    transition: .2s;
}

.nav-dropdown_list a:hover{
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

/* main */

/* main image */

.container {
    display: flex;
    width: 100%;
    height: 90vh;
    background-image: url('../images/Monitoring.svg');
    background-position: 80%;
    align-items: center;
}

.background-filter {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to left, var(--blue) 10%, var(--dark-blue) 70%);
    opacity: .8;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 20rem;
    z-index: 1;
}

.text-container h3 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 52px;
    color: var(--white);
    line-height: 3.4rem;
}

.text-container p {
    color: var(--white);
    font-size: 22px;
    width: 70%;
}

/* servicoes */

.service-box {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
}

.service-box h1 {
    text-transform: uppercase;
    color: var(--dark-blue);
}

.services-container {
    margin: 8rem 0;
    display: flex;
    gap: 4rem;
}

.service {
    background-color: var(--yellow);
    color: var(--dark-blue);
    padding: 2rem;
    border-radius: 1rem;
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease;
}

.service:hover {
    transform: scale(1.1,1.1);
}

.service h2 {
    font-size: 22px;
    text-align: center;
}

.service i {
    padding: 1rem;
    font-size: 52px;
}

/* CLIENTES */

.clients-box {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.clients-title h1{
    text-transform: uppercase;
    font-style: italic;
    color: var(--yellow);
    padding-bottom: 2.4rem;
}

.clients-logo {
    display: flex;
}

.clients-logo img {
    object-fit: scale-down;
    max-width: 200px;
    height: 100px;
}

/* clients scroller */

.scroller {
    width: 80%;
}


/* ------------- */

/* SOBRE */

.about-box {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem 20rem;
}

.about-title h1 {
    text-transform: uppercase;
    color: var(--dark-blue);
}

.about-text {
    padding: 1rem;
    width: 60%;
}

.about-image img{
    width: 300px;
}

/* footer */

footer {
    padding: 2rem;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.footer-itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid var(--blue);
}

.footer-itens li{
    list-style-type: none;
    padding: 1rem;
}

.footer-itens a {
    font-size: 14px;
    text-decoration: none;
    color: var(--white);
}

.footer-itens a:hover {
    color: #cfcfcf;
}

.footer-rights {
    padding-top: 1rem;
    color: var(--blue);
    display: flex;
    justify-content: center;
}

.police-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.police-container p {
    width: 50%;
    color: var(--blue);
    font: 16px;
}

.police-container img{
    width: 50px;
}

/* scroll animation */

.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-20%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* responsive header */

@media (max-width: 952px) {
    .nav-bar {
        justify-content: space-evenly;
    }

    .nav-bar h1 {
        font-size: 32px;
        margin: 0;
    }

    .nav-bar i {
        display: block;
        cursor: pointer;
        color: var(--blue);
        font-size: 32px;
    }

    .nav-list {
        display: none;
    }

    /* container */

    .container {
        display: flex;
        flex-direction: row;
        height: 60vh;
        background-image: url('../images/seguranca_pessoal.jpg');
        background-position: 50% 10%;
    }
    
    .background-filter {
        position: absolute;
        height: 60vh;
        background-image: linear-gradient(to left, var(--blue) 10%, var(--dark-blue) 70%);
        opacity: .8;
    }
    
    .text-container {
        padding: 1.4rem;
    }
    
    .text-container h3 {        
        font-size: 28px;
        line-height: 2rem;
    }
    
    .text-container p {
        font-size: 14px;
    }

    /* servicos */

    .service-box {
        padding: 2rem;
    }
    
    .service-box h1 {
        font-size: 22px;
    }
    
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 0;
        gap: 1rem;
    }
    
    .service {
        width: 10rem;
        height: 10rem;
    }
    
    .service h2 {
        font-size: 14px;
        text-align: center;
    }
    
    .service i {
        padding: 1rem;
        font-size: 26px;
    }

    /* clients */
    
    .clients-title h1{
        font-size: 22px;
        text-align: center;
    }
    
    .clients-logo {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .clients-logo img {
        max-height: 100px;
    }
    
    .clients-btn:hover {
        color: var(--yellow);
        border: 1px solid var(--yellow);
    }

    /* sobre */

    .about-box {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2rem 1rem;
        align-items: center;
    }
    
    .about-title h1 {
        font-size: 22px;
        text-align: center;
    }
    
    .about-text {
        font-size: 14px;
        padding: 1rem;
        width: auto;
    }
    
    .about-image img{
        width: 100px;
    }

    /* footer */

    footer {
        padding: 1rem;
        background-color: var(--dark-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .footer-itens {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0;
        border: none;
        padding-bottom: 1rem;
    }
    
    .footer-itens li{
        list-style-type: none;
        padding: .2rem;
    }
    
    .footer-itens a {
        font-size: 12px;
        text-decoration: none;
        color: var(--white);
    }
    
    .footer-itens a:hover {
        color: #cfcfcf;
    }
    
    .footer-rights {
        text-align: center;
        border-top: 1px solid var(--blue);
        padding-top: 1rem;
        font-size: 12px;
        color: var(--blue);
    }

    .police-container img {
        width: 30px;
    }


}


