{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %} {% endblock %}
     <!-- jquery -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" defer></script>
    <!-- carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <!-- script -->
    <script src="{% static 'js/script.js' %}" defer></script>
    <!-- fontawsome icons -->
    <script src="https://kit.fontawesome.com/10f7cd033f.js" crossorigin="anonymous"></script>
    <!-- amcharts -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <title>UNIPAZ</title>
</head>
<body>

    {% block header %}
        {% cache 15 header %}
            <header>
                <nav class="nav-bar">
                    <div class="logo">
                        <h1>UNIPAZ</h1>
                    </div>

                    <ul class="nav-list">
                        <li><a href="{% url 'website:home' %}">HOME</a></li>
                        <li><a href="{% url 'website:services'%}">SERVIÇOS</a></li>
                        <li><a href="{% url 'website:events' %}">EVENTOS</a></li>
                        <li><a href="{% url 'website:contact'%}">CONTATO</a></li>
                    </ul>

                    <div class="menu-icons">
                        <i class="fa-solid fa-bars"></i>
                        <!-- fa-x -->
                    </div>

                </nav>

                <nav class="nav-dropdown">
                    <ul class="nav-dropdown_list">
                        <li><a href="{% url 'website:home'%}">HOME</a></li>
                        <li><a href="{% url 'website:services'%}">SERVIÇOS</a></li>
                        <li><a href="{% url 'website:events' %}">EVENTOS</a></li>
                        <li><a href="{% url 'website:contact'%}">CONTATO</a></li>
                    </ul>
                </nav>
            </header>
        {% endcache %}
    {% endblock %}
    
    
    {% block content %} {% endblock %}

    {% block footer %} 
        <!-- footer -->
        {% cache 500 footer %}
            <footer>
                <div>
                    <div class="footer-itens">
                            <li><a href="{% url 'website:home'%}">HOME</a></li>
                            <li><a href="{% url 'website:services'%}">SERVIÇOS</a></li>
                            <li><a href="{% url 'website:events' %}">EVENTOS</a></li>
                            <li><a href="{% url 'website:contact'%}">CONTATO</a></li>
                    </div>
                    <div class="footer-rights">
                        <p>© 2024 Grupo Unipaz. Todos os direitos reservados.</p>
                    </div>
                </div>
                <div class="police-container">
                    <img src="{% static 'images/policia-federal.png' %}" alt="policia federal">
                    <p>Empresa Autorizada pela Polícia Federal</p>
                </div>
            </footer>
        {% endcache %}
    {% endblock %}

</body>
</html>
