{% extends 'base.html'%}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static '/css/contato.css' %}">
{% endblock %}


   

{% block content %} 
<main>
    <div class="contact-box">

        <img src="{% static 'images/monitoramento.jpg' %}" alt="moitoramento">
        
        <form id="contact-form" class="contact-container" method="POST" action="">
            {% csrf_token %}
            
            <h1>Fale conosco</h1>
            
                <div class="input-group">
                    <div class="input-box">
                        <label for="name">Nome:</label>
                        <input id="name" type="text" name="name" placeholder="Digite seu nome">
                    </div>

                    <div class="input-box">
                        <label for="email">E-mail:</label>
                        <input id="email" type="text" name="email" placeholder="Digite seu E-mail">
                    </div>

                    <div class="input-box">
                        <label for="phone">Telefone:</label>
                        <input id="phone" type="tel" name="phone" placeholder="(xx) xxxx-xxxx">
                    </div>

                    <div class="input-box">
                        <label for="message">Mensagem:</label>
                        <input id="message" type="message" name="message" placeholder="Mensagem">
                    </div>
                </div>

            <button type="submit" class="send-button">Enviar</button>            
        </form>
    </div>
</main>
{% endblock %}