{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
    
{% endblock %}

{% block content %}

<main>
    <div class="title">
        <h1>Eventos</h1>
        <p>Cobrimos todo tipo de eventos, social e empresarial.</p>
    </div>

    <div class="events-text hidden">
        <div>
            <h1>Sucessos da Unipaz</h1>
            <p>Apresentamos uma seleção dos eventos realizados com sucesso pela Unipaz, demonstrando nosso compromisso em fornecer soluções de segurança eficazes e personalizadas para uma ampla variedade de ocasiões. Dos eventos empresariais mais discretos aos shows e festas de grande porte, cada projeto é cuidadosamente planejado e executado por nossa equipe altamente qualificada. Buscamos não apenas proteger o patrimônio e a integridade dos participantes, mas também garantir uma experiência tranquila e livre de preocupações para todos os envolvidos. Nossa galeria de eventos reflete nosso histórico de excelência e dedicação em fornecer serviços de segurança de alto nível para nossos clientes em todo o mundo.</p>

            <h1>Mais de 36 Eventos</h1>
            <div id="chartdiv"></div>
        </div>
        
    <div class="events-box hidden">
        <div class="events-container">
            <h3>Carlton Dance Festival</h3>
            <p><span>Local: </span>Teatro Municial - RJ</p>
            <p><span>Equipamento: </span>30 agentes</p>
            <p><span>Show: </span>100 agentes</p>
        </div>
        <div class="events-container">
            <h3>Guns N' Roses</h3>
            <p><span>Local: </span>Maracanã – RJ</p>
            <p><span>Equipamento: </span> 300 agentes</p>
            <p><span>Show: </span>350 agentes</p>
            <p><span>Artista: </span>8 agentes bilíngues</p>
        </div>
        <div class="events-container">
            <h3>Campeonato Mundial de Surf</h3>
            <p><span>Local: </span>Local: Barra da Tijuca e Saquarema – RJ</p>
            <p><span>Show: </span>300 agentes</p>
        </div>
        <div class="events-container">
            <h3>Auto Latina</h3>
            <p><span>Local: </span>Rio Centro – RJ</p>
            <p><span>Evento: </span>100 agentes</p>
        </div>
        <div class="events-container">
            <h3>Inauguração Volkswagen</h3>
            <p><span>Local: </span>Magé – RJ</p>
            <p><span>Evento: </span>100 agentes</p>
        </div>
        <div class="events-container">
            <h3>Projeto Anjos da Galera</h3>
            <p><span>Local: </span>Maracanã – RJ</p>
            <p><span>Equipamento: </span>400 agentes</p>
        </div>
        <div class="events-container">
            <h3>Michael Jackson</h3>
            <p><span>Local: </span>Morumbi – SP</p>
            <p><span>Equipamento: </span>400 agentes</p>
            <p><span>Show: </span>600 agentes</p>
            <p><span>Artista: </span>25 agentes bilíngues</p>
        </div>
        <div class="events-container">
            <h3>ECO / 92</h3>
            <p><span>Local: </span>Aterro / Rio Centro - RJ</p>
            <p><span>Equipamento: </span>1600 agentes</p>
        </div>
        <div class="events-container">
            <h3>Elton John</h3>
            <p><span>Local: </span>Est. do Flamengo -RJ</p>
            <p><span>Equipamento: </span>200 agentes</p>
            <p><span>Show: </span>350 agentes</p>
            <p><span>Artista: </span>10 agentes bilíngues</p>
        </div>
        <div class="events-container">
            <h3>Frank Sinatra - Barry White</h3>
            <p><span>Local: </span>Maracanã - RJ</p>
            <p><span>Equipamento: </span>100 agentes</p>
            <p><span>Show: </span>100 agentes</p>
        </div>
        <div class="events-container">
            <h3>KISS</h3>
            <p><span>Local: </span>Maracanã - RJ</p>
            <p><span>Equipamento: </span>600 agentes</p>
            <p><span>Show: </span>600 agentes</p>
            <p><span>Artista: </span>15 agentes bilíngues</p>
        </div>
        <div class="events-container">
            <h3>Eric Clapson / Paul Simon / Rod Stwart / Bob Dylan</h3>
            <p><span>Local: </span>Praça da Apoteose - RJ</p>
            <p><span>Equipamento: </span>250 agentes</p>
            <p><span>Show: </span>350 agentes</p>
            <p><span>Artista: </span>4 agentes bilíngues</p>
        </div>
        <div class="events-container">
            <h3>Carnaval Rio</h3>
            <p><span>Local: </span>Sambódromo - RJ</p>
        </div>
        <div class="events-container">
            <h3>XUXA</h3>
            <p><span>Local: </span>Maracanã - RJ</p>
        </div>
        <div class="events-container">
            <h3>Rock in Rio</h3>
            <p><span>Local: </span>Cidade do Rock (I) e (III)</p>
            <p><span>Local: </span>Maracanã - RJ (II)</p>
            <p><span>Show: </span>2000 agentes</p>
        </div>
        <div class="events-container">
            <h3>Madonna</h3>
            <p><span>Local: </span>Maracanã - RJ</p>
            <p><span>Show: </span>1200 agentes</p>
            <p><span>Equipamento: </span>1000 agentes</p>
            <p><span>Artista: </span>33 agentes bilíngues</p>
        </div>
        <div class="events-container">
            <h3>Free Jazz Festival</h3>
            <p><span>Local: </span>Hotel Nacional - RJ</p>
            <p><span>Show: </span>130 agentes</p>
            <p><span>Equipamento: </span>70 agentes</p>
            <p><span>Artista: </span>14 agentes bilíngues</p>
            <p><span>Local: </span>Hotel Nacional - RJ</p>
            <p><span>Equipamento: </span>200 agentes</p>
            <p><span>Show: </span>150 agentes</p>
            <p><span>Artista: </span>10 agentes bilíngues</p>
        </div>
        <div class="events-container">
            <h3>II Encontro Mundial do Papa</h3>
            <p><span>Local: </span>Maracanã - RJ</p>
            <p><span>Local: </span>Aterro do Flamengo - RJ</p>
            <p><span>Evento: </span>350 agentes</p>
            <p><span>Show: </span>150 agentes</p>
            <p><span>Festa: </span>250 agentes</p>
            <p><span>Missa: </span>100 agentes</p>
        </div>
      </div>
    </div>

</main>



{% endblock %}