{% extends 'base.html' %}
{% load static %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/servicos.css' %}">
{% endblock %}

{% block content %}
<main>

    <div class="services-title hidden" id="seguranca-patrimonial">
        <h1>Nossos Serviços</h1>
        <p>O Grupo Unipaz é voltado ao ramo de segurança e serviços gerais, tendo como o seu principal objetivo organizar, planejar e assessorar toda uma gama de serviços operacionais em gestão empresarial, e seu segmento é basicamente custo e benefício para que não haja desperdício  de mão de obra qualificada e o serviço venha a ter frutos satisfatórios.</p>
    </div>

    

    <div class="estate-container">
        <div class="estate-text hidden">
            <h1>Segurança Patrimonial</h1>
            <p>Contratar a Unipaz para proteção patrimonial é uma escolha estratégica que oferece segurança e tranquilidade para indivíduos e empresas. Com uma equipe especializada e tecnologia avançada, a Unipaz desenvolve soluções personalizadas para mitigar riscos e preservar os bens de seus clientes.</p>
            <p>Priorizando transparência e ética, a empresa estabelece parcerias sólidas e duradouras, garantindo a integridade do patrimônio e a confiança daqueles que optam por seus serviços. Ao escolher a Unipaz, os clientes investem não apenas na proteção de seus ativos, mas também na tranquilidade que vem com a expertise e o compromisso dessa empresa líder em segurança patrimonial.</p>
        </div>

        <div class="estate-image hidden">
            <img src="{% static 'images/estate-background.png' %}" alt="patrimonio">
        </div>
    </div>

    <!-- segurança pessoal -->

    <div class="personal-container" id="seguranca-pessoal">
        <div class="personal-image">
            <div class="personal-filter"></div>
            <img src="{% static 'images/seguranca_pessoal.jpg' %}" alt="seugrança pessoal">
        </div>
        <div class="personal-text hidden">
            <h1>Segurança Pessoal</h1>
            <p>Investir em segurança pessoal com a Unipaz é uma medida essencial para proteger a integridade e o bem-estar de indivíduos em diferentes contextos. A Unipaz oferece soluções customizadas e abrangentes, garantindo uma proteção eficaz em situações diversas, desde deslocamentos cotidianos até eventos de alto risco. Com uma equipe altamente treinada e tecnologia de ponta, a empresa proporciona um ambiente seguro e tranquilo para seus clientes, priorizando a confidencialidade e o respeito às necessidades específicas de cada um. Optar pela segurança pessoal da Unipaz não apenas fortalece a proteção individual, mas também traz uma sensação de conforto e confiança, permitindo que as pessoas desfrutem de sua rotina com tranquilidade e paz de espírito.
            </p>
        </div>
    </div>

    <!-- cftv -->
    <div id="escort"></div>
    <div class="escort-container">
        <div class="escort-text hidden">
            <h1>Escolta Armada</h1>
            <p>A Unipaz dispõe de equipes altamente capacitadas, compostas por profissionais experientes e treinados para lidar com diversas eventualidades. Com rigorosos protocolos de segurança e utilização de tecnologia avançada, a empresa assegura a proteção eficaz de seus clientes durante trajetos críticos ou transporte de valores. A escolta armada da Unipaz não apenas oferece uma camada adicional de proteção, mas também proporciona tranquilidade e confiança, permitindo que indivíduos e empresas realizem suas atividades com segurança e sem preocupações com possíveis ameaças externas. Escolher a Unipaz para serviços de escolta armada é investir na proteção patrimonial e na preservação da integridade pessoal em qualquer circunstância.</p>
        </div>

        <div class="escort-image hidden">
            <img src="{% static 'images/car.png' %}" alt="patrimonio">
        </div>
    </div>

    <!-- eventos -->

    <div class="event-container" id="eventos">
        <div class="event-image">
            <div class="event-filter"></div>
            <img src="{% static 'images/event.jpg' %}" alt="seugrança de eventos">
        </div>
        <div class="event-text hidden">
            <h1>Segurança de Eventos</h1>
            <p>A segurança de eventos, sejam empresariais, shows ou festas, é crucial para o sucesso e tranquilidade dos participantes. Ao contratar os serviços da Unipaz, os organizadores têm acesso a uma equipe altamente treinada e especializada em planejar e executar medidas de proteção eficazes. Com uma abordagem proativa, a Unipaz realiza análises detalhadas de riscos e implementa estratégias personalizadas, combinando profissionais qualificados, tecnologia avançada e protocolos rigorosos para garantir um ambiente seguro e controlado. Priorizando a discrição e integridade, a Unipaz proporciona uma experiência tranquila e livre de preocupações para os participantes do evento.
            </p>
        </div>
    </div>

    <div class="contact-redirect-container hidden">
        <h1>Entre em contato!</h1>
        <button>Contato</button>
    </div>
    

    
</main>
{% endblock %}