<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIPAZ | Contato</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contato.css">
    <!-- script -->
    <script src="js/script.js" defer></script>
    <!-- fontawsome icons -->
    <script src="https://kit.fontawesome.com/10f7cd033f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>UNIPAZ</h1>
            </div>

            <ul class="nav-list">
                <li><a href="index.html">HOME</a></li>
                <li><a href="servicos.html">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="./contato.html" class="active-page">CONTATO</a></li>
            </ul>

            <div class="menu-icons">
                <i class="fa-solid fa-bars"></i>
                <!-- fa-x -->
            </div>

        </nav>

        <nav class="nav-dropdown">
            <ul class="nav-dropdown_list">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="contact-box">

            <img src="images/Monitoring.jpg" alt="moitoramento">
            
            <div class="contact-container">

                <h1>Fale conosco</h1>
                
                    <div class="input-group">
                        <div class="input-box">
                            <label for="Nome">Nome:</label>
                            <input id="nome" type="text" name="name" placeholder="Digite o seu nome">
                        </div>

                        <div class="input-box">
                            <label for="email">E-mail:</label>
                            <input id="email" type="text" name="email" placeholder="Digite o seu E-mail">
                        </div>

                        <div class="input-box">
                            <label for="number">Número:</label>
                            <input id="number" type="tel" name="number" placeholder="(xx) xxxx-xxxx">
                        </div>

                        <div class="input-box">
                            <label for="message">Mensagem:</label>
                            <input id="message" type="message" name="message" placeholder="Assunto">
                        </div>
                    </div>

                <button class="send-button">Enviar</button>
                
            </div>
        </div>
    </main>
     <!-- footer -->
     <footer>
        <div class="footer-itens">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTATO</a></li>
        </div>
        <div class="footer-rights">
            <p>© 2024 Grupo Unipaz. Todos os direitos reservados.</p>
        </div>
    </footer>
    
</body>
</html>