<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unipaz</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- script -->
    <script src="js/script.js" defer></script>
    <!-- fontawsome icons -->
    <script src="https://kit.fontawesome.com/10f7cd033f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>UNIPAZ</h1>
            </div>

            <ul class="nav-list">
                <li><a href="#" class="active-page">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>

            <div class="menu-icons">
                <i class="fa-solid fa-bars"></i>
                <!-- fa-x -->
            </div>

        </nav>

        <nav class="nav-dropdown">
            <ul class="nav-dropdown_list">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>
        </nav>

    </header>

    <!-- conteudo da pagina -->
    <main>
        <div class="services-box">

            <div class="arrow-box">
                <h3>Conheça Nossos Serviços</h3>
                <div class="arrow-button">
                    <span class="current-service">Segurança Pessoal</span>
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

            <div class="services">
                <img src="images/Monitoring.jpg" alt="Monitoramento">
                <img src="images/patrimonio.jpg" alt="Patrimônio">
                <img src="images/event.jpg" alt="Evento">
                <img src="images/seguranca_pessoal.jpg" alt="Segurança Pessoal">
            </div>

           
        </div>
    </main>
</body>
</html>