<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unipaz</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- script -->
    <script src="js/script.js" defer></script>
    <!-- fontawsome icons -->
    <script src="https://kit.fontawesome.com/10f7cd033f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>UNIPAZ</h1>
            </div>

            <ul class="nav-list">
                <li><a href="#" class="active-page">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>

            <div class="menu-icons">
                <i class="fa-solid fa-bars"></i>
                <!-- fa-x -->
            </div>

        </nav>

        <nav class="nav-dropdown">
            <ul class="nav-dropdown_list">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>
        </nav>

    </header>

    <!-- conteudo da pagina -->
    <main>
       <div class="container">
            <div class="slider-wrapper">
                <div class="slider">
                <img src="images/patrimonio.jpg" alt="Patrimônio" id="slide-1">
                <img src="images/Monitoring.jpg" alt="Monitoramento" id="slide-2">
                <img src="images/event.jpg" alt="Eventos" id="slide-3">
                <img src="images/seguranca_pessoal.jpg" alt="Segurança Pessoal" id="slide-4">
                </div>
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
            </div>
       </div>

       
       <div class="service-box">
        <div class="logo">
            <img src="images/unipaz_logo.png" alt="logo">
        </div>
        <div class="service-title">
            <h1>Conheça Nossos Serviços</h1>

            <div class="patrimonio">
                <h2>Segurança do Patrimônio</h2>
            </div>

            <div class="monitoramento">
                <h2>Monitoramento</h2>
            </div>

            <div class="pessoal">
                <h2>Segurança Pessoal</h2>
            </div>

            <div class="patrimonio">
                <h2>Eventos</h2>
            </div>
        </div>
    </div>
    </main>
</body>
</html>