<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unipaz</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- carrousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <!-- script -->
    <script src="js/script.js" defer></script>
    <!-- fontawsome icons -->
    <script src="https://kit.fontawesome.com/10f7cd033f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>UNIPAZ</h1>
            </div>

            <ul class="nav-list">
                <li><a href="#" class="active-page">HOME</a></li>
                <li><a href="./servicos.html">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="./contato.html">CONTATO</a></li>
            </ul>

            <div class="menu-icons">
                <i class="fa-solid fa-bars"></i>
                <!-- fa-x -->
            </div>

        </nav>

        <nav class="nav-dropdown">
            <ul class="nav-dropdown_list">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>
        </nav>
    </header>

    <!-- conteudo da pagina -->
    <main>
       <div class="container">

            <div class="text-container hidden">
                    <h3>Segurança<br>e Vigilância</h3>
                    <p>Excelência em prestação de serviços em segurança.</p>
            </div>

            <div class="background-filter"></div>
            
       </div>

       <!-- serviços -->
       <div class="service-box">

        <div class="service-title">
            <h1>Nossos Serviços</h1>
        </div>
            <div class="services-container hidden">
                <div class="estate service">
                    <i class="fa-solid fa-house"></i>
                    <h2>Segurança do Patrimônio</h2>
                </div>
                <div class="monitoring service">
                    <i class="fa-solid fa-video"></i>
                    <h2>Monitoramento</h2>
                </div>
                <div class="personal service">
                    <i class="fa-solid fa-shield-halved"></i>
                    <h2>Segurança Pessoal</h2>
                </div>
                <div class="event service">
                    <i class="fa-regular fa-calendar"></i>
                    <h2>Eventos</h2>
                </div>
            </div>
    </div>

     <!-- clientes -->

     <div class="clients-box">
        <div class="clients-title hidden">
            <h1>Confiam na Unipaz</h1>
        </div>
        <div class="scroller">
            <div class="clients-logo">
                <img src="images/souza-araujo.png" alt="">
                <img src="images/fluminense.png" alt="fluminense">
                <img src="images/luft.png" alt="luft">
                <img src="images/rio cidade das artes.png"  alt="cidade das artes">
                <img src="images/rodofly.png" alt="rodofly">
                <img src="images/circo voador white.png"    alt="circo voador">                
                <img src="images/jc white.png" alt="jockey club">
                <img src="images/tranziran.png" alt="tranziran">
                <img src="images/baile-da-favorita.png" alt="baile da favorita">
                <img src="images/spartacus-brazil.png" alt="spartacus-brazil">
                <img src="images/pronto-cargo.png" alt="pronto cargo">
            </div>
        </div>
    </div>

    <!-- sobre -->

    <div class="about-box">
        <div>
            <div class="about-title hidden">
                <h1>Sobre nós</h1>
            </div>
            <div class="about-text hidden">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci illo, in odit tempora repudiandae voluptatem blanditiis ipsam? Delectus placeat a libero dolorem inventore non voluptatum, deserunt quis nihil, aspernatur exercitationem!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem laborum beatae illo, quos quod repellat mollitia a quo. Deserunt ad illum possimus ratione quibusdam accusantium eos, quasi quidem aliquam saepe.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, voluptatibus totam quam possimus numquam, dicta iusto nam officiis blanditiis eos, fugiat quidem hic ipsa voluptas consequuntur quibusdam assumenda obcaecati! Commodi.</p>
            </div>
        </div>
        <div class="about-image hidden">
            <img src="images/unipaz_logo.png" alt="logo">
        </div>
    </div>

    </main>
    
    <!-- footer -->
    <footer>
        <div class="footer-itens">
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="contato.html">CONTATO</a></li>
        </div>
        <div class="footer-rights">
            <p>© 2024 Grupo Unipaz. Todos os direitos reservados.</p>
        </div>
    </footer>


    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
</body>
</html>