<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIPAZ | Serviços</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/servicos.css">
    <!-- script -->
    <script src="js/script.js" defer></script>
    <!-- fontawsome icons -->
    <script src="https://kit.fontawesome.com/10f7cd033f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>UNIPAZ</h1>
            </div>

            <ul class="nav-list">
                <li><a href="index.html">HOME</a></li>
                <li><a href="#" class="active-page">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="./contato.html">CONTATO</a></li>
            </ul>

            <div class="menu-icons">
                <i class="fa-solid fa-bars"></i>
                <!-- fa-x -->
            </div>

        </nav>

        <nav class="nav-dropdown">
            <ul class="nav-dropdown_list">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <div class="services-title">
            <h1>Nossos Serviços</h1>
            <p>O Grupo Unipaz é voltado ao ramo de segurança e serviços gerais, tendo como o seu principal objetivo organizar, planejar e assessorar toda uma gama de serviços operacionais em gestão empresarial, e seu segmento é basicamente custo e benefício para que não haja desperdício  de mão de obra qualificada e o serviço venha a ter frutos satisfatórios.</p>
        </div>

        <div class="estate-container">
            <div class="estate-text">
                <h1>Segurança Patrimonial</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nam ipsam eius sunt quo! Cumque laboriosam officia velit, tempora expedita sapiente voluptatibus vitae sint! Dicta quisquam obcaecati dolores adipisci debitis.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus tempora possimus, pariatur commodi dicta facilis omnis inventore delectus quidem minima necessitatibus earum! Consequuntur, distinctio nostrum ullam nesciunt accusamus porro ad.</p>
            </div>

            <div class="estate-image">
                <img src="images/estate-background.png" alt="patrimonio">
            </div>
        </div>

        <!-- segurança pessoal -->

        <div class="personal-container">
            <div class="personal-image">
                <div class="personal-filter"></div>
                <img src="images/seguranca_pessoal.jpg" alt="seugrança pessoal">
            </div>
            <div class="personal-text">
                <h1>Segurança Pessoal</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, animi cumque odio libero reprehenderit quas voluptate veritatis nulla natus eum voluptatem doloribus praesentium facilis numquam ipsum molestias possimus minima vitae. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptate, facilis totam laboriosam recusandae accusantium. Vel adipisci expedita deserunt magni, obcaecati laborum necessitatibus iusto libero repellendus ullam distinctio mollitia tempore.
                </p>
            </div>
        </div>
        

        
    </main>
     <!-- footer -->
     <footer>
        <div class="footer-itens">
                <li><a href="index.html">HOME</a></li>
                <li><a href="servicos.html">SERVIÇOS</a></li>
                <li><a href="#">EVENTOS</a></li>
                <li><a href="contato.html">CONTATO</a></li>
        </div>
        <div class="footer-rights">
            <p>© 2024 Grupo Unipaz. Todos os direitos reservados.</p>
        </div>
    </footer>
    
</body>
</html>